html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
  background-color: #c0c9d1;
  line-height: 1.2;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    text-decoration: none;
    color: inherit;
    display: inline-block;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

.header {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 23px;
  color: #fff;
  height: 85px;
  background-image: linear-gradient(120deg, #2B72A5 78%, #C0C9D1);
}
.container {
  max-width: 1920px;
  overflow: hidden;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  margin: 6px 0 9px 93px;
}

.menu {
  margin-right: 90px;
}

.menu__list {
  display: flex;
  gap: 25px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.about {
    margin-bottom: 114px;
    max-width: 100%;
    height: 1447px;
    background-image: url(../images/about-bg.avif);
    background-repeat: no-repeat;
    background-position: center;
}
.top-title {
    font-family: "Archivo", sans-serif;
    font-size: 200px;
    font-weight: 400;
    color: #fff;
    padding: 56px 0 0 92px;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.about__line {
    border: 10px solid #2B72A5;
    width: 758px;
    margin-top: -15px;
}

.about__text {
    width: 839px;
    height: 514px;
    background-image: url(../images/aboutText-bg.avif);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 30px;
    margin: 379px 0 0 94px;
}

.about__text-format {
    width: 753px;
    padding: 40px 0 0 58px;
}

.main-text {
  font-family: "Montserrat Alternates", serif;
  font-weight: 400;
  color: #000;
  font-size: 36px;
}


.about__gear-first {
  overflow: hidden;
  position: absolute;
  top: 400px;
  right: 0px;
  width: 450px;
  height: 450px;
}

.about__gear-1 {
    position: absolute;
    top: 0px;
    right: -130px;
    width: 450px;
    height: 450px;
    background-image: url(../images/aboutGear-1.avif);
    background-repeat: no-repeat;
    background-size: contain;
    animation: gear-1 5s linear infinite;
}


@keyframes gear-1 {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

.about__gear-second {
  overflow: hidden;
  position: absolute;
  width: 250px;
  height: 250px;
  top: 760px;
  right: 0px;
}

.about__gear-2 {
    position: absolute;
    width: 250px;
    height: 250px;
    top: 0px;
    right: -130px;
    background-image: url(../images/aboutGear-2.avif);
    background-repeat: no-repeat;
    background-size: cover;
    animation: gear-2 5s linear infinite;
    animation-delay: 1s;
}

@keyframes gear-2 {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(-360deg);
    }
  }


.flacons {
  margin-bottom: 160px;
}

.flacons__wrapper{
  margin-left: 100px;
  max-width: 1718px;
  background-image: url(../images/flacons-bg.avif);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: space-between;
}

.flacons__img {
  margin-left: 120px;
}

.flacons__content {
  margin-top: 190px;
  max-width: 740px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flacons__title {
  text-transform: uppercase;
  font-family: "Archivo", sans-serif;
  font-size: 100px;
  font-weight: 700;
  color: #fff;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.flacons__text {
  font-family: "Archivo", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
}

.flacons__button {
  margin-top: 25px;
  width: 388px;
  height: 86px;
  text-align: center;
  align-content: center;
  background-color: #2B72A5;
  border-radius: 10px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.flacons__link {
  font-family: "Archivo", sans-serif;
  font-weight: 700;
  font-size: 56px;
  color: #fff;
}


.sprei {
  margin-bottom: 160px;
}

.sprei__wrapper {
  margin-left: 100px;
  max-width: 1718px;
  background-image: url(../images/sprei-bg.avif);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: space-between;
}

.sprei__img {
  margin: 34px 116px 96px 0;
}

.sprei__content {
  margin-top: 190px;
  margin-left: 57px;
  max-width: 787px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sprei-txt {
  max-width: 740px;
}


.throat {
  margin-bottom: 190px;
}

.throat__wrapper{
  margin-left: 100px;
  max-width: 1718px;
  background-image: url(../images/throat-bg.avif);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: space-between;
}

.throat__img {
  margin-top: 72px;
}

.throat__content {
  max-width: 620px;
  margin: 172px 130px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quality {
  margin-bottom: 150px;
}

.quality__wrapper {
  max-width: 1920px;
  height: 1100px;
  background-image: url(../images/quality-bg.avif);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.quality__title {
  font-family: "Archivo", sans-serif;
  font-weight: 600;
  font-size: 120px;
  color: #fff;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}


.description {
  margin-bottom: 150px;
}

.description__wrapper {
  max-width: 1267px;
  text-align: center;
  margin: 0 auto;
}


.rooms {
  margin-bottom: 175px;
}

.rooms__wrapper {
  margin-left: 100px;
  max-width: 1718px;
  height: 725px;
  background-image: url(../images/rooms-bg.avif);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: space-between;
}

.rooms__wrapper-text {
  margin-top: 120px;
}

.rooms-text {
  max-width: 634px;
  margin-left: 152px;
}

.rooms__wrapper-content {
  max-width: 821px;
  margin-top: 27px;
  margin-right: 38px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rooms-img {
  margin-bottom: 50px;
}

.rooms-title {
  font-size: 50px;
}

.rooms-button {
  width: 637px;
}


.order {
  margin-bottom: 200px;
}

.order__wrapper {
  margin-left: 210px;
  max-width: 1524px;
  height: 684px;
  background-image: url(../images/orfer-bg.avif);
  background-repeat: no-repeat;
  background-size: cover;
}

.order__text {
  padding-top: 59px;
  padding-left: 99px;
  margin-bottom: 51px;
  max-width: 835px;
  text-transform: uppercase;
  font-family: "Archivo", sans-serif;
  font-weight: 300;
  font-size: 160px;
  line-height: 0.9;
  color: #000;
}

.order__button {
  display: flex;
  justify-content: center;
}




/*Анимация шестеренок*/


.footer-gears__first {
  overflow: hidden;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 150px;
  height: 150px;
}

.footer-gears__1 {
  position: absolute;
    
    width: 150px;
    height: 150px;
    background-image: url(../images/footer-gear-1.webp);
    background-repeat: no-repeat;
    background-size: contain;
    animation: footer-gear-1 5s linear infinite;
}


@keyframes footer-gear-1 {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
}





  .footer__wrapper {
  font-family: "Montserrat Alternates", serif;
  color: #fff;
  font-weight: 600;
  padding-top: 30px;
  height: 260px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  background-image: linear-gradient(120deg, #2B72A5 78%, #C0C9D1);
  display: flex;
  justify-content: space-between;
}

.text-size {
  font-size: 17px;
}

.footer__about {
  font-weight: 400;
  margin-left: 100px;
}

.footer__about-logo {
  margin-bottom: 15px;
}

.footer__about-copyright {
  margin-top: 55px;
  color: #B5AEAE;
}

.footer__nav-title {
  font-weight: 700;
  margin-bottom: 15px;
}

.footer__nav {
  display: flex;
  gap: 30px
}

.footer__nav-text {
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 20px;
}

.nav-width {
  width: 170px;
}

.footer__nav-contact {
  margin-right: 160px;
}