<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lotupack</title>
  <link rel="stylesheet" href="css/style.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
  <header class="header">
    <div class="container">
    <div class="header__inner">
      <a href="#" class="logo">
        <img class="header__img" src="images/logo.svg" alt="logo">
      </a>
      <nav class="menu">
        <ul class="menu__list">
          <li class="menu__item">
            <a href="#" class="menu__link">О КОМПАНИИ</a>
          </li>
          <li class="menu__item"></li>
            <a href="#" class="menu__link">ПРОЕКТЫ</a>
          </li>
          <li class="menu__item"></li>
            <a href="#" class="menu__link">ПРОДУКЦИЯ</a>
          </li>
          <li class="menu__item"></li>
            <a href="#" class="menu__link">ЭКСПОРТ</a>
          </li>
          <li class="menu__item"></li>
            <a href="#" class="menu__link">КОНТАКТЫ</a>
          </li>
        </ul>
      </nav>
    </div>
    </div>
  </header>